.Button {
  padding: 0.5rem 1rem;
  min-width: 10rem;
  background: none;
  font-weight: bold;
  color: #45ad47;
  border: 0.125rem solid #45ad47;
  cursor: pointer;
  transition: all linear 0.1s;

  &:hover {
    color: #ffffff;
    background-color: #45ad47;
  }

  &:active {
    color: #ffffff;
    background-color: #207222;
  }
}
